$containerWidth:940px;
$baseFontSize:18px;
$blue:rgba(97, 196, 217, 1);
@import "https://cdnjs.cloudflare.com/ajax/libs/normalize/8.01/normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,700;1,100&display=swap");
@import "layout.scss";

.hero{
    background: url("./batcom.png") left 98% top 0% no-repeat, url("./decoratelist.png") right bottom no-repeat,$blue;
    padding-bottom: 60px;
}
.hero__container{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.section{
    height: 100vh;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
    border: 0;
    
}
.slogan__pager{
    display: inline-flex;
    width: 100%;

}
.pagers{
    position: fixed;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
}

.pagers__listpag{
    width: 18px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.pagers_item{
    width: 6px;
    height: 6px;
    background-color: white;
    border-radius: 50%;
    margin-bottom: 15px;
}
.pagers_item:hover{
    width: 2px;
    height: 2px;
    background-color: white;
    border-radius: 50%;
    margin-bottom: 15px;
}
ul{
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: #fff;
}
li {
    list-style: none;
}
.container{
    width: 95%;
    max-width: 940px;
    margin: 0 auto;
}

.header {
    position: relative;
    display: inline-flex;
    height: 50px;
    margin-top:24px;
    margin-bottom: 66px;
    align-items: center;

}

.menu{
    font-size: 16px;
    height: 24px;
}
.logo_link{
    width: 65px;
    margin-right: 20px;
}

.letter {
    margin-left: 3px;
    font-size: 20px;
    font-weight: bold;
}
.menu__list{
    display: inline-flex;
    justify-content: space-between;
}
.menu__item{
    margin-right: 18px;
    width: max-content;
}
.contact{
    margin-left: 5px;
    font-size: 16px;
}
.slogan__background{
    display: inline-flex;
    flex-wrap: nowrap;
    width: auto;

}
.slogan{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 370px;
    margin-bottom: 61px;
    margin-right: 422px;
}
.header__slogan{
    font-weight: bold;
    font-size: 38px;
    line-height: 53px;
    display: flex;
    align-items: flex-end;
    text-transform: uppercase;
    margin-bottom: 17px;
}
.slogan__discription{
    font-size: 19px;
    line-height: 23px;
    display: flex;
    align-items: flex-end;
    margin-bottom: 27px;
}
.order{
    padding-top: 21px;
    padding-bottom: 21px;
    text-transform: uppercase;
    padding-left: 41px;   
    padding-right: 41px;
    font-weight: bold;
    color: #365A49;
    background-color: #fff;
    border-radius: 30px;
    width: min-content;
    height: min-content;
    font-size: 12px;
}
.pluses__list{
    display: inline-flex;
    justify-content: space-between;
    align-items: flex-start;
    .pluses__item{
        font-size: 14px;
        width: 110px;
        height: 56px;
        margin-right: 48px;
        display: inline-flex;
        align-items: flex-start;

        .pluses__img{
            margin-right: 12px;
        }
    }
}
